.Section {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.Grouped1 {
	width: 100%;
	height: 600px;
	background-color: #fddae0;
	display: flex;
	flex-direction: row;
}

.Grouped2 {
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	margin: 3rem 0;
}

.InternalC {
	width: 970px;
	height: 100%;
	background-color: #d8d8d8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #726969;
}

.Left {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.Right {
	width: 5%;
	height: 100%;
}

.Texted {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.Bottom {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.Bottom button {
	width: 55%;
	background-color: #d82a4f;
	border-radius: 10px;
	height: 50px;
	font-size: 18px;
	color: #fff;
	font-family: "Open Sans";
	border-style: unset;
	border-width: unset;
}

.Center {
	width: 55%;
	height: 100%;
}

.Inner {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100%;
}
.Cards {
	width: 275px;
	background-color: #fff;
	margin: 2rem 0;
	border-radius: 16px;
}

.Images {
	height: 50%;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.Images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.CardsBtm {
	/* height: 50%; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
}

.Title {
	font-size: 36px;
	font-weight: bold;
	font-family: "Open Sans";
	margin-bottom: 2rem;
}

.SubContent {
	font-size: 24px;
	font-weight: bold;
	font-family: "Open Sans";
	margin-bottom: 2rem;
}

.TitleProduct {
	font-size: 24px;
	font-weight: bold;
	color: #d82a4f;
}

@media screen and (min-width: 1366px) and (max-width: 1600px) {
	.Grouped1 {
		height: 478px;
	}
	
	.Cards {
		width: 200px;
	}

	.SubContent,
	.TitleProduct {
		font-size: 18px;
	}

	.Title {
		font-size: 24px;
	}

	.Inner {
		padding: 0 2rem;
	}

	.Bottom button {
		width: 90%;
		font-size: 16px;
	}
}
