.Section {
	width: 100%;
	height: 100%;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	padding: 2rem 12rem;
	height: 610px;
}

.Wrapper h1 {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: unset;
}
.Wrapper h2 {
	font-weight: normal;
	font-size: 20px;
	color: #a6a6a6;
	width: 50%;
}

.None {
	width: 30%;
	height: 100%;
}

.TextFrame {
	margin:auto;
	font-size: 30px;
	font-weight: bold;
	color: #606060;
}
.Texted {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.Grouped {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	position: relative;
}

.Grouped1 {
	width: 70%;
	height: 100%;
	/* display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 50px 50px; */
}

.Grouped1 svg {
	display: block;
}

.Grouped2 {
	width: 30%;
	height: 100%;
	justify-content: center;
	display: flex;
}

.Mr2 {
	width: 300px;
	height: 250px;
	background-color: #d8d8d8;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #726969;
}

.GridItem {
	display: flex !important;
	flex-direction: column;
	width: 467px !important;
	height: 321px;
	border-radius: 15px;
	border: 2px solid #d5d5d5;
	position: relative;
}

.Avatar {
	height: 100%;
	width: 100%;
	bottom: 0;
	margin-bottom: -3rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 1rem;
}

.Avatar span {
	font-size: 18px;
	color: black;
	font-family: "Open Sans";
	margin: auto;
	text-align: center;
}

.ImgOnly {
	width: 22%;
	height: 100%;
	border-radius: 50%;
	height: 100px;
	margin: auto;
}

.ImgOnly img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.TextOnly {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}

.Icon {
	display: flex;
	margin: auto;
	justify-content: center;
}

.Icon svg {
	color: #b65068 !important;
}

.Top {
	display: flex;
	flex-direction: row;
	height: 35%;
	padding: 1rem 2rem;
	border-bottom: 1px solid #d6d6d6;
}

.Top img {
	width: 40%;
	height: 100%;
	object-fit: contain;
}

.BottomOne {
	display: flex;
	flex-direction: row;
	height: 30%;
	width: 100%;
	margin-bottom: 0.5rem;
}

.Stars {
	width: 70%;
}

.Bottom {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	height: 65%;
}

.TextedContent {
	overflow: hidden;
	width: 100%;
}

.Contents {
	color: black;
	font-size: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.SubContent {
	font-size: 20px;
	font-weight: bold;
	font-family: "Open Sans";
	margin-bottom: 1rem;
}

.Example {
	width: 150px;
	height: 100px;
	background-color: #b65068;
}


@media screen and (min-width: 1366px) and (max-width: 1600px) {
	.Wrapper {
		padding: 2rem 6rem;
		height: 541px;
	}

	.GridItem {
		width: 346px !important;
		height: 271px !important;
	}

	.ImgOnly {
		height: 70px;
	}
	.SubContent {
		font-size: 18px;
	}

	.Avatar span {
		font-size: 16px;
	}

	.Stars {
		width: 50%;
	}
}
