.Section {
	width: 100%;
	height: 100%;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	padding: 2rem 12rem;
}

.Wrapper h1 {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: unset;
}
.Wrapper h2 {
	font-weight: normal;
	font-size: 20px;
	color: #a6a6a6;
	width: 80%;
}
.Texted {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Icon {
	display: flex;
	margin: auto;
	justify-content: center;
}

.Icon svg {
	color: #b65068 !important;
}
.Grouped {
	width: 100%;
	height: 540px;
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
}

.Grid1 {
	width: 60%;
	height: 100%;
}

.Grid1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Grid2 {
	width: 40%;
	height: 100%;
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
}

.Box {
	width: 100%;
	height: 50%;
}

.Box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
	.Wrapper {
		padding: 2rem 6rem;
	}

	.Grouped {
		height: 394px;
	}
	
}
