.Section {
	width: 100%;
	height: 100%;
}

.Wrapper {
	display: flex;
	flex-direction: column;
	padding: 2rem 12rem;
}

.Wrapper h1 {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: unset;
}
.Wrapper h2 {
	font-weight: normal;
	font-size: 20px;
	color: #a6a6a6;
	width: 80%;
}
.Texted {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.Icon {
	display: flex;
	margin: auto;
	justify-content: center;
}

.Icon svg {
	color: #b65068 !important;
}
.Grouped {
	width: 100%;
	height: 540px;
	display: flex;
	flex-direction: row;
	margin-top: 2rem;
	justify-content: space-between;
}

.Grid1 {
	width: 60%;
	height: 100%;
}

.Grid1 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.Grid2 {
	width: 40%;
	height: 100%;
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
}

.Box {
	width: 100%;
	height: 50%;
}

.Box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.Cards {
	width: 275px;
	background-color: #fff;
	margin: 2rem 0;
	border-radius: 16px;
}

.Images {
	height: 50%;
	display: flex;
	justify-content: center;
	padding: 1rem;
}

.Images img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.CardsBtm {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 2rem;
}

.SubContent {
	font-size: 24px;
	font-weight: bold;
	font-family: "Open Sans";
}

.TitleProduct {
	font-size: 24px;
	font-weight: bold;
	color: #d82a4f;
}

@media screen and (min-width: 1366px) and (max-width: 1439px) {
	.Wrapper {
		padding: 2rem 6rem;
	}

	.Grouped {
		height: 410px;
	}

	.TitleProduct, .SubContent {
		font-size: 18px;
	}

	.TextMini {
		font-size: 16px;
	}
}
